{% load static %}
<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST-Image</title>
</head>
<body class='text-center'>
    {% block content %}
    <div class="btn-group" role="group" aria-label="Buttons">
        <a href="/img/images" class="nav-link link-dark"><button type="button" class="btn btn-primary">Images</button></a>
        <a href="/img/comments" class="nav-link link-dark"><button type="button" class="btn btn-primary">Comments</button></a>
        <a href="/img/images/stat" class="nav-link link-dark"><button type="button" class="btn btn-primary">Statistics</button></a>
        <a href="/admin" class="nav-link link-dark"><button type="button" class="btn btn-primary">Admin</button></a>
        <a href="/openapi" class="nav-link link-dark"><button type="button" class="btn btn-primary">Open API schema</button></a>
    </div>
    {% endblock %}
</body>
</html>